# Build artifacts
bin/
obj/
/packages/

# IDE & Editor
.idea/
.vs/
*.user
*.suo
riderModule.iml
/_ReSharper.Caches/
.vscode/

# macOS
.DS_Store

# Node.js
**/node_modules/
Reflecta/wwwroot/node_modules/
package-lock.json

# Development & environment-specific configuration
appsettings.Development.json
appsettings.*.json

# Runtime & temporary files
*.log
*.tmp
.cache/